<div class='one-admin-card generate-groups-wrapper'>
    <div class='card-element'>
        <span class='card-title'>
            Add Final Grades
        </span>

        <div class='card-body'>
            <span class='card-description'>
                By selecting this, you will add the final grades to the students.
            </span>

            <div class='input-holder row'>
                
                <div class='button-holder'>
                    <a routerLink='/admin/add-final-grades'>
                        <button class='action-button'>Add Final Grades</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
