<div class='student-header-wrapper row'>
        
    <div class='navigation-wrapper col-md-6 col-sm-9 col-xs-12'>
        <div class='navigation-elements'>
            <span class='nav'><a (click)='logout()'>Logout</a></span>
            <span class='nav' [class.active]='selectedMenuItem == 1'><a routerLink='/home'>Info</a></span>
            <span class='nav' [class.active]='selectedMenuItem == 2'><a routerLink='/student/add-optionals'>Add Optionals</a></span>
        </div>
    </div>
    <div class='col-md-6 col-sm-9 col-xs-12 navigation-right'> 
        <div class='info-wapper'>
            <div class='info'>
                <span class='name'>{{ studentInfo?.studentName }}</span>
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class='name'>|  {{ studentInfo?.studentNumber }}</span>
                
            </div>
            <div class='logo-wrapper'>
                <img  id='logo' src='assets/images/UAIC_logo4.png' alt='logo'>
            </div>
        </div>
    </div>
</div>
<div class='small-banner'></div>