<section class='admin-screen-wrapper main-wrapper-admin'>
    <div class='admin-cards-wrapper row'>
        <import-students class='col-md-6 card-content'></import-students>
        <generate-groups-card class='col-md-6 card-content'></generate-groups-card>

        <create-update-subject-card class='col-lg-4  col-md-6 card-content'></create-update-subject-card>
        <view-all-subjects-card class='col-lg-4 col-md-6 card-content'></view-all-subjects-card>
        <study-plan-card class='col-lg-4 col-md-6 card-content'></study-plan-card>
        <view-study-plan-card class='col-lg-4 col-md-6 card-content'></view-study-plan-card>
        <view-student-card class='col-lg-4 col-md-6 card-content'></view-student-card>
        <student-subject-card class='col-lg-4 col-md-6 card-content'></student-subject-card>
    </div>
</section>