<admin-navigation [userInfo]='userInfo'></admin-navigation>
<section class='admin-title-page-wrapper'>
    <div class='title-wrapper'>
        <h2 class='page-title'>Add Subjects to Students</h2>
    </div>
</section>

<section class='study-plan-wrapper main-wrapper-admin'>
    <div class='study-plan container'>
        <form [formGroup]='studentSubjectForm'>
            <h4 class='small-title'>Select Study Plan</h4>
            <p class='small-text'>Please select from the following dropdowns in order to select the correct study year</p>
            <p class='small-text'>Note that your action will NOT modify the database.</p>
            <hr>

            <div class='dropdowns-wrapper row'>
                <div class='option col-md-4 col-sm-6 col-xs-12'>
                    <label>Semester</label>
                    <div class='option-wrapper'>
                        <select formControlName='semester'>
                            <option *ngFor='let option of semestersArray' value='{{ option }}'>{{ option | semesterFormat }}</option>
                        </select>
                        <span class='sufix small'>
                            <i class='fa fa-chevron-down' aria-hidden='true'></i>
                        </span>
                    </div>
                </div>

                <div class='option col-md-4 col-sm-6 col-xs-12'>
                    <label>Study Year</label>
                    <div class='option-wrapper'>
                        <select formControlName='studyYear'>
                            <option *ngFor='let option of studyYearsArray' value='{{ option }}'>{{ option | studyYearFormat }}</option>
                        </select>
                        <span class='sufix small'>
                            <i class='fa fa-chevron-down' aria-hidden='true'></i>
                        </span>
                    </div>
                </div>

                <div class='option col-md-4 col-sm-6 col-xs-12'>
                    <label>Degree</label>
                    <div class='option-wrapper'>
                        <select formControlName='rank'>
                            <option *ngFor='let option of ranksArray' value='{{ option }}'>{{ option | rankFormat }}</option>
                        </select>
                        <span class='sufix small'>
                            <i class='fa fa-chevron-down' aria-hidden='true'></i>
                        </span>
                    </div>
                </div>

                <div class='option col-md-4 col-sm-6 col-xs-12'>
                    <label>University Year</label>
                    <div class='option-wrapper'>
                        <select formControlName='universityYear'>
                            <option *ngFor='let option of universityYearsArray' value='{{ option }}'>{{ option }}</option>
                        </select>
                        <span class='sufix small'>
                            <i class='fa fa-chevron-down' aria-hidden='true'></i>
                        </span>
                    </div>
                </div>

                <div class='option col-md-4 col-sm-6 col-xs-12'>
                    <label>Specialize</label>
                    <div class='option-wrapper'>
                        <select formControlName='specialize'>
                            <option *ngFor='let option of specializesArray' value='{{ option }}'>{{ option | specializeFormat }}</option>
                        </select>
                        <span class='sufix small'>
                            <i class='fa fa-chevron-down' aria-hidden='true'></i>
                        </span>
                    </div>
                </div>

                <div class='option col-md-4 col-sm-6 col-xs-12'>
                    <label></label>
                    <div class='option-wrapper with-button'>
                        <button class='action-button' (click)='getStudyYearId()' [disabled]='disableStudyYearButton'>Get Study Year</button>
                    </div>
                </div>
            </div>
        </form>

        <div *ngIf='successMessage != null' class='success-wrapper'>
            <div class='success-message'> {{ successMessage }} </div>
        </div>
    
        <div *ngIf='errorMessage != null' class='error-wrapper'>
            <div class='error-message'> {{ errorMessage }} </div>
        </div>

        <div class='subjects' *ngIf='studyYearId != null'>
            <div class='study-plan container'>
                <h4 class='small-title'>Multi Steps</h4>
                <p class='small-text'>There are multiple steps untill adding the subjects to the students. Please follow them</p>
                <hr>
                
                <div class='steps-wrapper'>
                    <div class='step' [class.active]='steps[0] == 1'>
                        <span class='round'>1</span>
                        <div class='text'>Get Students</div>
                    </div>
    
                    <div class='step' [class.active]='steps[1] == 1'>
                        <span class='round'>2</span>
                        <div class='text'>Get Mandatory Subjects</div>
                    </div>

                    <div class='step' [class.active]='steps[2] == 1'>
                        <span class='round'>3</span>
                        <div class='text'>Get Optional Subjects</div>
                    </div>

                    <div class='step' [class.active]='steps[3] == 1'>
                        <span class='round'>4</span>
                        <div class='text'>Get Unpromoted Subjects</div>
                    </div>

                    <div class='step' [class.active]='steps[4] == 1'>
                        <span class='round'>5</span>
                        <div class='text'>Equate Subjects</div>
                    </div>
                </div>                
                
                <div class='show-info' [class.active]='steps[0] == 1'>
                    <p class='small-text'>Get the students assigned to the study plan selected from above.</p>
                    <button class='action-button' (click)='getStudents()'>Get Students</button>
                </div>
                <div class='show-info' [class.active]='steps[1] == 1'>
                    <p class='small-text'>Get the mandatory subjects from the study plan and assign to students.</p>
                    <button class='action-button' (click)='getStudyPlanSubjects()'>Get Subjects</button>
                </div>
                <div class='show-info' [class.active]='steps[2] == 1'>
                    <p class='small-text'>Get optionals selected by students.</p>
                    <p class='small-text'>If some studenents dodn't choose optional subjects, they will be assigned to random subjects.</p>
                    <button class='action-button' (click)='getOptionalSubjects()'>Get Optionals</button>
                </div>

                <div class='show-info' [class.active]='steps[3] == 1'>
                    <p class='small-text'>Get Unpromoted Subjects sor some students from the years that have passed.</p>
                    <button class='action-button' (click)='getUnpromotedSubjects()'>Get Unpromoted</button>
                </div>

                <div class='show-info' [class.active]='steps[4] == 1'>
                    <p class='small-text'>Equate subjects for some students if they are renumbered.</p>
                    <button class='action-button' (click)='equateSubjects()'>Equate</button>
                </div>

                <div class='no-results' *ngIf='displayStudents == true && studentsArray.length == 0'>
                   <div class='no-results-text'>No students were added to this Study Year ID</div>
                </div>

                <div class='students-wrapper'>
                    <div class='student' *ngFor='let student of studentsArray'>
                        <span>{{ student.id }} - </span>
                        <span>{{ student.studentNumber }} - </span>
                        <span>{{ student.name }}</span>

                        <div class='subjects-wrapper' *ngIf='student.subjects != undefined'>
                            <div class='subject' *ngFor='let subject of student.subjects'>
                                <span>{{ subject.id }}</span>
                                <span>{{ subject.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>