<div class='one-admin-card multi-steps generate-groups-wrapper'>
    <div class='card-element'>
        <span class='card-title'>
            Add Subjects to Students
        </span>

        <div class='card-body'>
            <span class='card-description'>
                By selecting this you add subjects to the students.
                Note that this function has multiple steps.
            </span>

            <div class='input-holder row'>
                
                <div class='button-holder'>
                    <a routerLink='/admin/create-student-subject'>
                        <button class='reverse-action-button'>Start</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
