<div class='one-admin-card generate-groups-wrapper'>
    <div class='card-element'>
        <span class='card-title'>
            Create / Update Study Plan
        </span>

        <div class='card-body'>
            <span class='card-description'>
                By selecting this you can create or update a study plan based on the year selected.
            </span>

            <div class='input-holder row'>
                
                <div class='button-holder'>
                    <a routerLink='/admin/study-plan'>
                        <button class='action-button'>Go to Study Plan</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
