<div class='one-admin-card generate-groups-wrapper'>
    <div class='card-element'>
        <span class='card-title'>
            Create / Update Subject
        </span>

        <div class='card-body'>
            <span class='card-description'>
                By selecting this you can create, update one suject or you can view all subjects.
            </span>

            <div class='input-holder row'>
                
                <div class='button-holder'>
                    <a routerLink='/admin/create-update-subject'>
                        <button class='action-button'>Create / Update</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
