<div class='one-admin-card multi-steps generate-groups-wrapper'>
    <div class='card-element'>
        <span class='card-title'>
            Update Student Situation
        </span>

        <div class='card-body'>
            <span class='card-description'>
                By selecting this you can update multiple students to the next year, update their debts. 
                Note that this card has multiple steps.
            </span>

            <div class='input-holder row'>
                
                <div class='button-holder'>
                    <a routerLink='/admin/update-students'>
                        <button class='reverse-action-button'>Update Students</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
