<div class='one-admin-card generate-groups-wrapper'>
    <div class='card-element'>
        <span class='card-title'>
            Generate Groups
        </span>

        <div class='card-body'>
            <span class='card-description'>
                You will create new groups for the new university year in order to assign students.
            </span>

            <div class='input-holder row'>
                
                <div class='button-holder'>
                    <a routerLink='/admin/generate-groups'>
                        <button class='action-button'>Generate Groups</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
