<section class='admin-navigation-wrapper' [class.hide-navigation]='hideNavigation'>

    <div class='admin-info'>
        <div class='img-holder'>
            <a routerLink='/home'>
                <i class="fa fa-user-circle-o admin" aria-hidden="true"></i>
            </a>
            <div class='info margin-t-15'>
                {{ userInfo?.firstName }} {{ userInfo?.lastName }}
            </div>
        </div>
        <div class='info-wrapper'>
            <span class='info important'>
                Admin
            </span>

            <div class='logout' (click)='logout()'>
                Logout
            </div>
        </div>
    </div>

    <div class='menu-holder' [class.menu-hide-navigation]='hideNavigation'>
        <div class='one-card' [class.active]='selectedMenu == 1' (click)='changeMenuItem(1)'>
            <div class='card-holder'>
                <i class='icon fa fa-graduation-cap'></i>
                <span class='menu-item'>
                    Students
                </span>
            </div>
        </div>

        <!-- <div class='one-card'>
            <div class='card-holder'>
                <i class='icon fa fa-code'></i>
                <span class='menu-item'>
                    Professors
                </span>
            </div>
        </div> -->

        <div class='one-card' [class.active]='selectedMenu == 2' (click)='changeMenuItem(2)'>
            <div class='card-holder'>
                <i class='icon fa fa-bell-o'></i>
                <span class='menu-item'>
                    Subjects
                </span>
            </div>
        </div>

        <div class='one-card' [class.active]='selectedMenu == 3' (click)='changeMenuItem(3)'>
            <div class='card-holder'>
                <i class='icon fa fa-sort-numeric-desc'></i>
                <span class='menu-item'>
                    Grades
                </span>
            </div>
        </div>

        <div class='one-card' [class.active]='selectedMenu == 4' (click)='changeMenuItem(4)'>
            <div class='card-holder'>
                <i class='icon fa fa-columns'></i>
                <span class='menu-item'>
                    Study Plan
                </span>
            </div>
        </div>
    </div>

    <div class='footer-section'>
        <img src='assets/images/UAIC_logo4.png'>
    </div>
</section>