<div class='one-admin-card generate-groups-wrapper'>
    <div class='card-element'>
        <span class='card-title'>
            View / Search Study Plan
        </span>

        <div class='card-body'>
            <span class='card-description'>
                By selecting this you will see subjects for a specifi study plan.
            </span>

            <div class='input-holder row'>
                
                <div class='button-holder'>
                    <a routerLink='/admin/view-study-plan'>
                        <button class='action-button'>View Study Plan</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
